/* .navbar{
    padding: 10px;
    background-color: rgb(72, 72, 72);
    position: fixed;
    width: 100vw;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */